MW_ADMIN_NAME=admin
MW_ADMIN_PASS=password
MW_SECRET_KEY=secret

MYSQL_USER=sqluser
MYSQL_PASSWORD=sqlpassword
MYSQL_ROOT_PASSWORD=sqlrootpassword

WIKIBASE_HOST=localhost
QS_HOST=localhost:8840

WB_PUBLIC_SCHEME_HOST_AND_PORT=http://localhost
QS_PUBLIC_SCHEME_HOST_AND_PORT=http://localhost:8840